{% extends 'site_base.html' %}


{% block content %}

    <section>
    
        <small>
            Please log in.
        </small>
        <form action="." method="POST">{% csrf_token %}
            <table>
                {{ form }}
                <tr class="submit-row">
                    <td></td>
                    <td>
                        <input type="submit" name="action" value="Log in">
                    </td>
                </tr>
            </table>
        </form>

        <small>
            <a href="{% url 'password_reset' %}">
                I forgot my username or password &rarr;
            </a>
        </small>
    
    </section>
    
    <script type="text/javascript">document.getElementById("id_username").focus();</script>


{% endblock %}