{% extends 'site_base.html' %}



{% block content %}
    {% with user=request.user %}
        <section>
            <h1>User profile</h1>
            
            <ul>
                <li>email: 
                    <span class="highlight">{{ user.email }}
                </li>
                <li>last login: 
                    <span class="highlight">{{ user.last_login }}
                </li>
            </ul>
            
            <p>
                <a href="{% url 'password_change' %}">
                    Change password &rarr;
                </a>
            </p>
            {% if user.is_staff %}
                <p>
                    <a href="{% url 'admin:index' %}">
                        Site administration &rarr;
                    </a>
                </p>
            {% endif %}
        </section>
    {% endwith %}

{% endblock content %}